$flex-map: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  stretch: stretch
);

@function flex-value($key){
  @return map-get($flex-map, $key);
}

@mixin flexbox($js:center, $ai:center){
  display: flex;
  justify-content: flex-value($js);
  align-items: flex-value($ai);
}

@mixin inline-flexbox($js:center, $ai:center){
  display: inline-flex;
  justify-content: flex-value($js);
  align-items: flex-value($ai);
}

@mixin column-flexbox($js:center, $ai:center){
  display: flex;
  flex-direction: column;
  justify-content: flex-value($js);
  align-items: flex-value($ai);
}
