* {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

  html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: $font-size-16;
  }

  body {
    font-family: 'Noto Sans KR', sans-serif;
    color: $primary;
  }

  h1 {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit; //요소 상속
  }
  
  button,
  input,
  select,
  textarea {
    border: 0;
    background-color: transparent; //아무색 없음

    &:focus{ //위의 요소들을 포함해서 
        outline: none;
        box-shadow: none;
    }
  }
  
  a, button {
    cursor: pointer;
  }

  ul, ol {
    padding-left: 0;
    list-style: none;
  }
  
  button {
    border: none;
    background: none;
  }
